.product-card {
	cursor: pointer;
	padding: 20px 10px;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
	width: 250px;
}

.product-card:hover {
	background-color: antiquewhite;
}

.product-card img {
	width: 250px;
	height: 250px;
}
